{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@platforms/(.*)$", "^../", "^./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
